.profile-index-box {
    justify-content: center;
    display: flex;
    margin-top: 77px;
    width: 935px;
}

.profile-index-article {
    position: absolute;
    justify-content: center;
    display: flex;
}

.profile-index-outer-container {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile-index-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.profile-index-row {
    justify-content: center;
    display:flex;
    flex-direction: row;
}

.profile-index-item-container {
}

.profile-index-item {
}

.profile-index-item-photo {
    
}
// /* Responsive layout - makes a two column-layout instead of four columns */
// @media screen and (max-width: 800px) {
//   .column {
//     // flex: 50%;
//     max-width: 50%;
//   }
// }

// /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
// @media screen and (max-width: 600px) {
//   .column {
//     // flex: 100%;
//     max-width: 100%;
//   }
// }
