

.nav-container{
    max-width: 100vw;
    max-height: 77px;
}

.nav {
    background-color: #fafafa;
    padding: 0;
}

.nav-container-box {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 77px;
    align-items: center;
}

.nav-box{ 
    display: flex;
    flex-direction: row;
    height: 29px;
    align-content: center;
    justify-content: center;
    // max-width: 1010px;
    padding: 24px 20px;
    // width: 100%;
}

.nav-element{ 
    min-width: 40px;
    // max-width: 33%;
    max-height: 29px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-left: 24px;
    flex-wrap: wrap;
    flex: 1 0 0%;
    justify-content: flex-end;
}

.nav-element-container {
    display: flex;
    flex-direction: row;
    padding-left: 24px;
    white-space: nowrap;
    max-height: 29px;

}

.home-element {
    // max-width: 200px;
    // max-width: 33%;
    margin: 0 auto;
    min-width: 40px;
    flex: 1 9999 0%;
    display: flex;
    flex-direction: row;
}

.camera-icon{
    max-width: 24px;
    max-height: 24px;
    min-width: 24px;
    min-height: 24px;
    padding-top: 4px;
}

.separator-decoration{
    background-color: #000;
    width: 1px;
    border: 1 solid #000;
    display: flex;
    position: relative;
    // top: .45em;
    flex-direction: column;
    margin: 0 12px 0 16px;
}

.search-element{
    min-width: 125px;
    // max-width: 33%;
    margin: 0 auto;
    flex: 0 1 auto;
    height: 29px;
}



.nav-search{
    font-size: 16px;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #262626;
    outline: 0;
    padding: 3px 10px 3px 10px;
    z-index: 2;
    display: inline-block;
    text-align: center;
}

.home-link{

    color: #003569;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    
    
}

.home-logo {
    max-width: 115px;
    max-height: 38px;
    min-width: 115px;
    min-height: 38px;
    
}

.nav-sub-element{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 29px;
}

.nav-sub-element-link{
    max-width: 24px;
    max-height: 24px;
    min-width: 24px;
    min-height: 24px;
}

.icon{
    max-width: 24px;
    max-height: 24px;
    min-width: 24px;
    min-height: 24px;
}

.sub-element-link{
    max-height: 29px;
}